.back-link {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}

.back-button {
  background: blue;
  padding: 10px 25px 10px 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 1.1em;
  border-radius: 3px;
}

@media (max-width: 500px) {
  .back-button {
    font-size: 1em;
  }
}
